<span class="item-spacer"></span>

<div class="card-container">

    <div class="newCard spaced-bottom max-width" >

        <div class="add-new-item" *ngIf="appState.getLoggedStatus() === true">
            <div class="center" *ngIf="showNewItemForm === false">
                <h2> Add a new post!</h2>
                <button mat-fab aria-label="add new item icon" (click)="showNewItem()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        <mat-card class="max-width" *ngIf="showNewItemForm === true">
            <mat-card-header>
                <mat-card-title>Create a new post</mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <mat-form-field class="spaced-right">
                    <input matInput placeholder="Title" [(ngModel)]="newItemData.title">
                </mat-form-field>

                <mat-form-field class="spaced-right">
                    <input matInput placeholder="Subtitle" [(ngModel)]="newItemData.subtitle">
                </mat-form-field>

                <mat-form-field class="spaced-right">
                    <input matInput placeholder="Category" [(ngModel)]="newItemData.category">
                </mat-form-field>

                <mat-form-field class="spaced-right">
                    <textarea matInput placeholder="Description" [(ngModel)]="newItemData.description"></textarea>
                </mat-form-field>

                <mat-form-field class="spaced-right">
                    <input matInput placeholder="Image Url" [(ngModel)]="newItemData.url">
                </mat-form-field>

                <mat-form-field class="spaced-right">
                    <input matInput placeholder="Image Url" [(ngModel)]="newItemData.link">
                </mat-form-field>

            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="submitNewCard()">Submit</button>
                <button mat-button (click)="hideNewItem()">Cancel</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <ul class="post-feed">

        <li *ngFor="let item of itemList; index as i" class="spaced-bottom spaced-right post-item">

            <mat-card class="card-item" *ngIf="item.editMode === false">

                <mat-card-header>
                    <div mat-card-avatar [style.backgroundImage]="'url(' + item.userProfileImage + ')'" class="card-avatar"></div>
                    <mat-card-title>{{item.content.title}}</mat-card-title>
                    <mat-card-subtitle>by {{item.username}}</mat-card-subtitle>
                    <mat-card-subtitle>{{item.content.subtitle}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{item.content.url}}">
                <mat-card-content>
                    <h3>Category:</h3>
                    <mat-chip-list aria-label="Item">
                        <mat-chip color="accent" (click)="filterTags(item.content.category)" selected>{{item.content.category}}</mat-chip>
                    </mat-chip-list>
                    <h3>Description:</h3>
                    <p>
                        {{item.content.description}}
                    </p>
                </mat-card-content>

                <mat-card-actions *ngIf="item.editMode === false">
<!--                    <a mat-button [href]="{{item.content.link}}">View source</a>-->
                    <button mat-button (click)="beginEditMode(i)" *ngIf="
                        appState.getLoggedStatus() === true &&
                        isEditAllowed ( this.appState.getUserProfile()._id , item.userId) === true
                    ">Edit</button>
                </mat-card-actions>

                <mat-card-actions *ngIf="item.editMode === true">
                    <button mat-button>Delete</button>
                </mat-card-actions>

            </mat-card>

            <mat-card class="card-item" *ngIf="item.editMode === true && appState.getLoggedStatus() === true">
                <mat-card-header>
                    <mat-card-title>Add Item</mat-card-title>
                </mat-card-header>
                <mat-card-content>

                    <mat-form-field>
                        <input matInput placeholder="Title" [(ngModel)]="editItemData.content.title">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Subtitle" [(ngModel)]="editItemData.content.subtitle">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Image Url" [(ngModel)]="editItemData.content.url">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Image Url" [(ngModel)]="editItemData.content.link">
                    </mat-form-field>

                    <mat-form-field>
                        <textarea matInput placeholder="Description" [(ngModel)]="editItemData.content.description"></textarea>
                    </mat-form-field>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="endEditMode(i)">Done Editing</button>
                    <button mat-button (click)="deleteItem(i)">Delete</button>
                </mat-card-actions>

            </mat-card>

        </li>
    </ul>

</div>
