.card-item {
  max-width: 100%;
}

.max-width{
  width: 100%;
}
.card-container{
  margin: 0 auto;
  max-width: 1390px;
}

.card-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.spaced-bottom {
  margin-bottom: 3em;
}
.spaced-right{
  margin-right: 1em;
}
.item-spacer {
  flex: 1 1 auto;
}

.post-feed{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding:0;
  margin: 0 auto;
  list-style: none;
}

.post-item{
  flex:auto;
  margin: 1em 0;
}

.card-avatar{
  background-size: contain;
}

.add-new-item{
  width: 80%;
  margin: 0 auto;
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: #efefef dashed 2px;
  padding: 16px 16px;
}
