<div class="tags-wrapper">
    <mat-chip-list aria-label="tags" [multiple]="false">
        <mat-chip *ngFor="let tag of tagsList"
                color="accent"
                selectable="true"
                (click)="filterTags(tag)"
                [selected]="true"
        >{{tag}}</mat-chip>
    </mat-chip-list>
</div>


