.card-login{
  padding-right: 1em;
  box-shadow: none;
}
.profile-picture{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-profile{
  height: 90vh;
}

.user-profile img{
  width:200px;
  height:200px;
  border-radius: 50%;
  margin-bottom: 4em;
}

.login-box{
  display: flex;
  flex-direction: column;
  margin: 0 16px;
}

.signin-box{
  display: flex;
  flex-direction: column;
  margin: 0 16px;
}
.middle-title{
  text-align: center;
}

.login-controls{
  flex: none;
}

.logout-box{
  display: flex;
  flex-direction: row;
  .logout:last-child{
    margin-left: 2em;
  }
}
