<div class="login-box">

    <div class="user-profile" *ngIf="loggedIn === true">
        <div class="profile-picture">
            <h1>Welcome {{userProfile.profile[0].name}}</h1>
            <img src="{{userProfile.profile[1].userProfileImage}}" alt="user profile" class="user-profile-image">
        </div>
    </div>

    <div class="login-form" *ngIf="loggedIn === false">

        <mat-card class="card-login">

            <mat-card-header>
                <mat-card-title>Login</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <form (ngSubmit)="login(loginForm)" #loginForm = "ngForm" class="login-box">
                    <mat-form-field appearance="fill">
                        <input
                                name="username"
                                matInput
                                placeholder="Username"
                                type="text"
                                ngModel
                                required
                        >
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <input
                                name="password"
                                matInput
                                placeholder="Password"
                                type="password"
                                ngModel
                                required
                        >
                    </mat-form-field>

                    <mat-card-actions>
                        <button mat-button type="submit" [disabled]="!loginForm.valid">Login</button>
                    </mat-card-actions>
                </form>
            </mat-card-content>

            <div class="middle-title">
                <h4>Dont have an account? you can sign in here:</h4>
            </div>

            <mat-card-header>
                <mat-card-title>Signup</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form (ngSubmit)="signin(signinForm)" #signinForm = "ngForm" class="signin-box">

                    <mat-form-field appearance="outline">
                        <input
                                name="username"
                                matInput
                                placeholder="Username"
                                type="text"
                                ngModel
                                required
                        >
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <input
                                name="email"
                                matInput
                                placeholder="E-mail"
                                type="email"
                                ngModel
                                required
                                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        >
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <input
                                name="password"
                                matInput
                                placeholder="Password"
                                type="password"
                                ngModel
                                required
                        >
                    </mat-form-field>

                    <mat-card-actions>
                        <button mat-button type="submit" [disabled]="!signinForm.valid">Sign in</button>
                    </mat-card-actions>
                </form>
            </mat-card-content>

        </mat-card>
    </div>

    <div class="login-controls">

        <div class="logout-box">

            <div class="logout" *ngIf="loggedIn === true">
                <button mat-button type="button" (click)="logout()">Logout</button>
            </div>

            <div class="logout" *ngIf="loggedIn === true">
                <button mat-stroked-button type="button" (click)="closeAccount()" color="warn">Close account</button>
            </div>

        </div>


    </div>

</div>
