@import '~@angular/material/theming';
@include mat-core();

@import 'normalize/variables';
@import 'normalize/vertical-rhythm';
@import 'normalize/normalize-mixin';

@import "partials/config";
@import "partials/layout";
@import "partials/mixins";

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto');

p,h1,h2,h3,h4,h5,h1,label,a {font-family: Roboto, Arial, SansSerif;}
li{list-style: none;}
a{text-decoration: none;}
//body{@include normalize();}

// custom background and foreground palettes
// to use actual rgba colors instead of mat colors, replace "map_get($mat-blue-grey, 800)" with #FFFFFF ( or any other hexcode for colors )
$custom-dark-theme-background: (
        status-bar: black,
        app-bar:    map_get($mat-grey, 900),
        background: #292943,
        hover:      rgba(orange, 0.04),
        //card:       map_get($mat-blue-grey, 800),
        card: #3b3b5a,
        //dialog:     map_get($mat-blue-grey, 800),
        dialog:     #3b3b5a,
        disabled-button: rgba(white, 0.12),
        raised-button: map-get($mat-blue-grey, 800),
        focused-button: $light-focused,
        selected-button: map_get($mat-grey, 900),
        //selected-disabled-button: map_get($mat-blue-grey, 800),
        selected-disabled-button: #3b3b5a,
        disabled-button-toggle: black,
        unselected-chip: map_get($mat-grey, 700),
        disabled-list-option: black,
);

$custom-dark-theme-foreground: (
        base:              white,
        divider:           $light-dividers,
        dividers:          $light-dividers,
        disabled:          $light-disabled-text,
        disabled-button:   rgba(white, 0.3),
        disabled-text:     $light-disabled-text,
        elevation:         black,
        hint-text:         $light-disabled-text,
        secondary-text:    $light-secondary-text,
        icon:              white,
        icons:             white,
        text:              white,
        slider-min:        white,
        slider-off:        rgba(white, 0.3),
        slider-off-active: rgba(white, 0.3),
);

// create a custom theme instead of using presets.
@function create-custom-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
          primary: $primary,
          accent: $accent,
          warn: $warn,
          is-dark: true,
          foreground: $custom-dark-theme-foreground,
          background: $custom-dark-theme-background,
  );
}

// wrap up all the custom theme parameters and start it up
// to use actual rgba colors instead of mat colors, replace "mat-palette($mat-blue-grey, 800)" with #FFFFFF ( or any other hexcode for colors )
$custom-theme-primary: mat-palette($mat-deep-purple, 700);
$custom-theme-accent:  mat-palette($mat-purple, A400);
$custom-theme-warn:  mat-palette($mat-orange, 500);

$custom-theme: create-custom-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);