<app-sidenav>

    <ul sidenav class="sidenav-box">

        <app-login-component></app-login-component>

    </ul>

    <div class="nav-content" page-nav>
        <h1>WebFolio</h1>
        <app-tags-nav class="tags" (onUpdateFilters)="filterItemTags($event)"></app-tags-nav>
    </div>

    <div class="wrapper" page-content>

        <div class="spacer"></div>

<!--        <app-login-component></app-login-component>-->

        <div class="spacer"></div>

        <app-user-profile></app-user-profile>

        <router-outlet (activate)="onActivate($event)">
<!--            <app-item-table></app-item-table>-->
        </router-outlet>

<!--        <app-item-card></app-item-card>-->

    </div>
</app-sidenav>

<!--
    todo: create a jumbotron with a cta button to scroll down to content
          add categories ( use chips! )
          items now have categories
          getAllItems must be reworked to also filter by categories
          top bar show all categories that the user want to display
          about page display infos about the user account ( name , profile picture , description, contact email )
          create a notification toast component that display server error messages or success messages for each actions that needs one
-->