.wrapper{
  padding:1em;
}

.example-container {
  width: 400px;
  margin: 10px;
  border: 1px solid #555;
}

.position-fixed{
  position: fixed;
}

.spacer{
  margin-bottom: 6em;
}

.nav-content{
  width: 90%;
  display: flex;
  justify-content: flex-start;
  .login-box{
    align-self: flex-end;
  }
  flex-direction: row;
  align-items: center;
}

.sidenav-box{
  width:300px;
  padding-right: 0;
  padding-inline-start: 0px;
}