.vertical-spacer{
  display: block;
  height: 1rem;
  width:100%;
}
.bottom-spacer{
  display: block;
  height: 10rem;
  width:100%;
}
.example-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
