@mixin flex-to-row($align:center,$wrap:nowrap,$justify:flex-start){
  display: flex;
  flex-direction: row;
  flex-wrap:$wrap;
  justify-content: $justify;
  align-items: $align;
  align-content: flex-start;
}

@mixin flex-to-col($align:center,$wrap:nowrap,$justify:flex-start){
  display: flex;
  flex-direction: column;
  flex-wrap:$wrap;
  justify-content: $justify;
  align-items: $align;
  align-content: flex-start;
}
