<mat-sidenav-container class="example-container sidenav" (backdropClick)="close()">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')" class="sidenav-container">
        <ng-content select="[sidenav]"></ng-content>
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar color="primary" class="position-fixed above-content "><button mat-button (click)="sidenav.toggle()"> <mat-icon> menu</mat-icon> </button>
            <ng-content select="[page-nav]"></ng-content>
        </mat-toolbar>
        <ng-content select="[page-content]"></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
