.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.position-fixed{
  position: fixed;
}

.above-content {
  z-index: 100;
}

.sidenav{
  margin-right: 1em;
}

.sidenav-container{
  padding-right: 2em;
}
