<section class="user-profile" *ngIf=" this.isLoggedIn ">
<!--<section class="user-profile">-->
    <div class="profile-wrapper">

<!--            <div class="profile-header" style="background-image: url('https://images.unsplash.com/photo-1569055958125-3ce497ee9d8a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80')">-->
<!--            <img src="https://icon-library.com/images/default-profile-icon/default-profile-icon-24.jpg" alt="profile image">-->
                <div class="profile-header" [ngStyle]="{'background-image':'url('+this.userProfile.userBackgroundImage+')'}">
                <img src="{{this.userProfile.userProfileImage}}" alt="profile image">
                <div class="profile-description">
                    <ul>
<!--                        <li><h2>Username</h2></li>-->
<!--                        <li><h4>useremail@email.com</h4></li>-->
<!--                        <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ducimus facilis iure iusto vel vero voluptatem. Dolor dolore ea fuga pariatur quaerat sapiente voluptatibus! Fugiat in minus unde veniam voluptatum?</p></li>-->
                        <li><p>{{this.userProfile.name}}</p></li>
                        <li><p>{{this.userProfile.email}}</p></li>
                        <li><p>{{this.userProfile.description}}</p></li>
                    </ul>
                </div>
            </div>

            <div class="editForm">
                <form (ngSubmit)="editProfile(profileForm)" #profileForm = "ngForm" class="signin-box" *ngIf="this.editMode">

                    <h4>Edit user settings: </h4>

                    <mat-form-field appearance="outline">
                        <input
                                name="username"
                                matInput
                                placeholder="Username"
                                type="text"
                                ngModel
                                required
                                [(ngModel)]="userProfile.name"
                        >
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <input
                                name="email"
                                matInput
                                placeholder="Email"
                                type="email"
                                ngModel
                                required
                                [(ngModel)]="userProfile.email"
                        >
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <input
                                name="description"
                                matInput
                                placeholder="Description"
                                type="text"
                                ngModel
                                required
                                [(ngModel)]="userProfile.description"
                        >
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <input
                                name="profileImage"
                                matInput
                                placeholder="Profile Image"
                                type="text"
                                ngModel
                                required
                                [(ngModel)]="userProfile.userProfileImage"
                        >
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <input
                                name="backgroundImage"
                                matInput
                                placeholder="Background Image"
                                type="text"
                                ngModel
                                required
                                [(ngModel)]="userProfile.userBackgroundImage"
                        >
                    </mat-form-field>

                    <button mat-button type="submit" [disabled]="!profileForm.valid">Done editing</button>
                    <button mat-button (click)="cancel()" *ngIf="this.editMode === true">Cancel</button>

                </form>

                <button mat-button (click)="beginEditMode()" *ngIf="this.editMode === false" class="profile-edit">Edit</button>

            </div>

    </div>

</section>