.user-profile{
  max-width: 1390px;
  padding:0;
  margin: 0 auto;
  list-style: none;
  margin-bottom: 6em;
  .profile-wrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;
    //flex-wrap: nowrap;
    width: 80%;
    //height: 60vh;
    .profile-header{
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      height:60vh;
      margin-top: 15vh;
      background-size: cover;
      background-position: center;
      img{
        margin: 0 auto;
        border-radius: 50%;
        width:200px;
        height:200px;
        position: relative;
        top: -100px;
      }
    }
    .profile-description{
      padding-top: 1em;
      padding-bottom: 3em;
      padding-right: 1em;
      background-color: rgba(59, 59, 90, 0.8);
      li{

      }
    }
    .editForm{
      align-self: center;
      width: 100%;
      padding: 2em 0;
      background-color: #3b3b5a;
      form{
        display: flex;
        flex-direction: column;
        padding: 0 1em;
      }
      .profile-edit{
        margin-left: 1em;
      }
    }
  }
}